{% extends "base_template.html" %}

{% block title %}
Asset Update
{% endblock %}



{% block user_scripts %}
<script type="text/javascript" language="javascript">

    $(document).ready(function(){
    
    });
    
</script>
{% endblock %}



{% block content_header %}
    <h5>Update Asset</h5>
    <p></p>
{% endblock %}


{% block content %}
        <form class="nice" id="action_form" method="post" action="/bifrost/controller/Asset/update">
		  
            
            
             {{  form.id()  }} 
            
            
            
             {{ form.asset_code.label  }} 
             {{ form.asset_code(class="input-text")  }} 
            
            
            
             {{ form.schedule_id.label  }} 
             {{ form.schedule_id(class="input-text")  }} 
            
            
            
             {{ form.type.label  }} 
             {{ form.type(class="input-text")  }} 
            
            
            
             {{ form.title.label  }} 
             {{ form.title(class="input-text")  }} 
            
            
            
             {{ form.title_brief.label  }} 
             {{ form.title_brief(class="input-text")  }} 
            
            
            
             {{ form.title_sort_name.label  }} 
             {{ form.title_sort_name(class="input-text")  }} 
            
            
            
             {{ form.description.label  }} 
             {{ form.description(class="input-text")  }} 
            
            
            
             {{ form.media_file.label  }} 
             {{ form.media_file(class="input-text")  }} 
            
            
            
             {{ form.aspect_ratio.label  }} 
             {{ form.aspect_ratio(class="input-text")  }} 
            
            
            
             {{ form.thumbnail_file.label  }} 
             {{ form.thumbnail_file(class="input-text")  }} 
            
            
            
             {{ form.summary_short.label  }} 
             {{ form.summary_short(class="input-text")  }} 
            
            
            
             {{ form.summary_medium.label  }} 
             {{ form.summary_medium(class="input-text")  }} 
            
            
            
             {{ form.summary_long.label  }} 
             {{ form.summary_long(class="input-text")  }} 
            
            
            
             {{ form.actors_display_string.label  }} 
             {{ form.actors_display_string(class="input-text")  }} 
            
            
            
             {{ form.runtime.label  }} 
             {{ form.runtime(class="input-text")  }} 
            
            
            
             {{ form.raw_runtime.label  }} 
             {{ form.raw_runtime(class="input-text")  }} 
            
            
            
             {{ form.display_runtime.label  }} 
             {{ form.display_runtime(class="input-text")  }} 
            
            
            
             {{ form.date_created.label  }} 
             {{ form.date_created(class="input-text")  }} 
            
            
            
             {{ form.year_created.label  }} 
             {{ form.year_created(class="input-text")  }} 
            
            
            
             {{ form.genre_id.label  }} 
             {{ form.genre_id(class="input-text")  }} 
            
            
            
             {{ form.billing_id.label  }} 
             {{ form.billing_id(class="input-text")  }} 
            
            
            
             {{ form.preview_period.label  }} 
             {{ form.preview_period(class="input-text")  }} 
            
            
            
             {{ form.display_as_new.label  }} 
             {{ form.display_as_new(class="input-text")  }} 
            
            
            
             {{ form.display_as_last_chance.label  }} 
             {{ form.display_as_last_chance(class="input-text")  }} 
            
            
            
             {{ form.max_viewing_length.label  }} 
             {{ form.max_viewing_length(class="input-text")  }} 
            
            
            
             {{ form.provider_qa_contact.label  }} 
             {{ form.provider_qa_contact(class="input-text")  }} 
            
            
            
             {{ form.suggested_price.label  }} 
             {{ form.suggested_price(class="input-text")  }} 
            
            
            
             {{ form.licensing_start_date.label  }} 
             {{ form.licensing_start_date(class="input-text")  }} 
            
            
            
             {{ form.licensing_end_date.label  }} 
             {{ form.licensing_end_date(class="input-text")  }} 
            
            
            
             {{ form.language_id.label  }} 
             {{ form.language_id(class="input-text")  }} 
            
            
            
             {{ form.is_encrypted.label  }} 
             {{ form.is_encrypted(class="input-text")  }} 
            
            
            
             {{ form.is_closed_captioned.label  }} 
             {{ form.is_closed_captioned(class="input-text")  }} 
            
            
            
             {{ form.is_hd.label  }} 
             {{ form.is_hd(class="input-text")  }} 
            
            
            
             {{ form.is_valid.label  }} 
             {{ form.is_valid(class="input-text")  }} 
            
            
            
             {{ form.deleted.label  }} 
             {{ form.deleted(class="input-text")  }} 
            
            
		
		    <label for="submit_button">&nbsp;</label><input id="submit_button" type="submit" value="Save"/>
	     </form>
{% endblock %}